/* .app {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.header {
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brag-logo {
    justify-content: center;
    height: 200px;
}

nav {
    display: flex;
    position: relative;
    justify-content: space-around;
    gap: 3em;
    color: rgb(175, 164, 175);
}

a {
    text-decoration: none;
    color: inherit;
} */

