:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #3d353b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;




.header {
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brag-logo {
    justify-content: center;
    height: 9em;
}

nav {
    font-size: 0.9em;
    display: flex;
    position: relative;
    justify-content: space-around;
    gap: 2em;
    color: rgb(175, 164, 175);
}

a {
    text-decoration: none;
    color: inherit;
}

h1,h2 {
    text-transform: uppercase;
}

p {
    font-size: 9pt;
}

}

