.all-artists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-evenly;
}

.genre-btn {
    color: rgb(175, 164, 175);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 2em;
}

button {
    display: flex;
    align-items: center;
    width: 10em;
    height: 2.5em;
    background-color: black;
    text-transform: uppercase;
    font-size: 0.6em;
    border: none;
    padding: 1.5em;
    
}

.dropdown {
    padding-top: 2em;
    display: flex;
    justify-content: center;
}


select {
    height: 4em;
    font-size: 8pt;
    background-color: rgba(0, 0, 0, 0.159);
    width: 13em;
    padding: 1em;
    border-radius: 2px;
}

.see-more{
    width: 15em;
}