.profiles-container {
    padding: 1em;
}

.profile-card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: rgba(53, 41, 48, 0.529);
    width: 16em;
    height: 20em;
    padding: 1em;
    overflow: hidden;
}

img {
    height: 9em;
    width: 100%;
    object-fit: cover;
}

.profile-card h2 {
    font-size: 1rem;
    min-height: 2.4em; 
    margin: 0;
}

.profile-card:hover {
    transform: scale(1.03);
    transition: ease 275ms;
}

.card-content {
    overflow: hidden;
}

.genre-btn-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 1em;
    height: calc(2em * 2 + 5px);
    align-content: start;
}

.genre-tabs {
    background-color: rgb(195, 188, 188);
    color: black;
    font-weight: 800;
    font-size: 0.6rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 2em;

    white-space: nowrap;
    overflow: hidden;         
    text-overflow: ellipsis;
}

.bio {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
