.profiles-container {
    padding: 2em;
    display: flex;
    flex-direction: row;
}
.profile-card {
    background-color: black;
    justify-content: center;
    object-fit: contain;
    width: 20em;
    padding: 2em;
    text-align: left;
}

.profile-card:hover {
    transform: scale(1.03);
    transition: ease 275ms;
}
